<?xml version="1.0"?>
<config>

    <modules>
        <Datarec_Exporter>
            <version>1.0.0</version>
        </Datarec_Exporter>
    </modules>

    <global>
        <models>
            <datarec_exporter>
                <class>Datarec_Exporter_Model</class>
            </datarec_exporter>
        </models>
        <helpers>
            <datarec_exporter>
                <class>Datarec_Exporter_Helper</class>
            </datarec_exporter>
        </helpers>
        <blocks>
            <datarec_exporter>
                <class>Datarec_Exporter_Block</class>
            </datarec_exporter>
        </blocks>          
    </global>
    
    <frontend>
         <routers>
             <datarec_exporter>
                 <use>standard</use>
                 <args>
                     <module>Datarec_Exporter</module>
                     <frontName>datarec_exporter</frontName>
                 </args>
             </datarec_exporter>
         </routers>
     </frontend>    
    
</config>
